.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4a4a2;
  box-shadow: 15px 15px 30px rgba(46, 145, 245, 0.3);
}

.App-header,
.App-footer {
  height: 100px;
  background-color: #05b69f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 15px 15px 30px rgba(46, 145, 245, 0.3);
}

.App-main {
  flex: 1;
  display: flex;
}

.App-sidebar {
  background-color: rgb(9, 144, 117);
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 20px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 15px 30px rgba(46, 145, 245, 0.3);
}

.App-article {
  flex: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #e44141;
  margin: 20px;
  position: relative;
  box-shadow: 15px 15px 30px rgba(46, 145, 245, 0.3);
}

.text-right {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.text {
  margin-left: 600%;
}

.square {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aba6a6;
  padding-top: 0%;
  margin: 0px 150px 20px 100px;
  align-self: flex-end; /* This will align the square to the bottom */
  color: white;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 15px 15px 15px rgba(46, 145, 245, 0.3);
}
.squareContariner {
  flex: none; /* Change this from 1 to none so it doesn't grow or shrink */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: end;
}

/* For mobile devices */
@media (max-width: 767px) {
  .App {
    background-color: #f4a4a2; /* Deep Purple */
  }
  .App-main {
    display: block;
    background-color: #f4a4a2;
  }

  .App-article {
    display: block;
  }

  .squareContariner {
    display: block;
    padding-bottom: 10px;
  }
  .text {
    margin-left: 0;
  }
}

/* For tablets devices */
@media (max-width: 1024px) and (min-width: 768px) {
  .App {
    background-color: #f4a4a2;
  }
  .App-main {
    display: block;
    background-color: #f4a4a2;
  }

  .App-article {
    display: block;
  }

  .squareContariner {
    display: block;
    padding-bottom: 10px;
  }
  .text {
    margin-left: 0;
  }
}

/* For small desktops */
@media (max-width: 1280px) and (min-width: 1025px) {
  .App {
    background-color: #f4a4a2;
  }
  .App-main {
    display: block;
    background-color: #f4a4a2;
  }

  .App-article {
    display: block;
  }

  .squareContariner {
    display: block;
    padding-bottom: 10px;
  }
  .text {
    margin-left: 0;
  }
}
