.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4a4a2;
}

.App-header,
.App-footer {
  height: 100px;
  background-color: #05b69f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.App-main {
  flex: 1;
  display: flex;
}

.App-sidebar {
  background-color: rgb(9, 144, 117);
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 20px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-article {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #e44141;
  margin: 20px;
  position: relative;
}

.text-right {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transform: translateX(-50%);
  text-align: center;
}

.square {
  flex: none; /* Change this from 1 to none so it doesn't grow or shrink */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #aba6a6;
  padding-top: 0%;
  margin: 0px 100px 20px 100px;
  align-self: flex-end; /* This will align the square to the bottom */
  color: white;
  font-weight: bold;
  font-size: 30px;
}

/* For mobile devices */
@media (max-width: 767px) {
  .App {
    flex-direction: column-reverse;
    background-color: #6a0dad; /* Deep Purple */
  }
}
